<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>fragments</title>
</head>
<body>
<table id="search-results" th:fragment="results">
    <thead>
        <tr>
            <th>Startnummer</th>
            <th>Naam</th>
            <th>Medaille</th>
            <th>Onderdeel</th>
    </tr>
    <tr th:each="result: ${results}">
        <td th:text="${result.startnummer}"></td><td th:text="${result.naam}"></td><td th:text="${result.medailleString}"></td><td th:text="${result.onderdeel}"></td>
    </tr>
</table>
</body>
</html>